Repository NethermindEth/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NethermindEth/angkor-validator-operators, @NethermindEth/role_angkor_admin, @0xDones, @AntiD2ta, @cbermudez97

ci: Use Makefile rather than pre-commit action
  .github/workflows/helm-checks.yaml
Owners: @NethermindEth/role_angkor_admin, @0xDones, @AntiD2ta

ci: add missing step to install pre-commit binaries
  .github/workflows/helm-checks.yaml
Owners: @NethermindEth/role_angkor_admin, @0xDones, @AntiD2ta

ci: fix setup Helm step
  .github/workflows/helm-checks.yaml
Owners: @NethermindEth/role_angkor_admin, @0xDones, @AntiD2ta

ci: install helm-docs before running pre-commit
  .github/workflows/helm-checks.yaml
Owners: @NethermindEth/role_angkor_admin, @0xDones, @AntiD2ta

feat(erpc): bump chart version with a patch
  charts/erpc/Chart.yaml
  charts/erpc/README.md
Owners: @cbermudez97, @AntiD2ta

ci: update run-pre-commit job
  .github/workflows/helm-checks.yaml
Owners: @NethermindEth/role_angkor_admin, @0xDones, @AntiD2ta

ci: rename check CODEOWNERS job
  .github/workflows/check-codeowners.yaml
  .github/workflows/helm-checks.yaml
Owners: @NethermindEth/role_angkor_admin, @0xDones, @AntiD2ta

ci: use a fixed version of helm-docs
  .github/workflows/helm-checks.yaml
  Makefile
Owners: @NethermindEth/role_angkor_admin, @0xDones, @AntiD2ta, @NethermindEth/angkor-validator-operators

ci: Use different pre-commit config for CI
  .github/workflows/helm-checks.yaml
  .pre-commit-ci-config.yaml
  CONTRIBUTING.md
  Makefile
Owners: @NethermindEth/role_angkor_admin, @0xDones, @AntiD2ta, @NethermindEth/angkor-validator-operators

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @NethermindEth/angkor-validator-operators

/.github/workflows/ @NethermindEth/role_angkor_admin @0xDones @AntiD2ta

/charts/aztec-prover/ @0xDones
/charts/erpc/ @cbermudez97 @AntiD2ta
